@tailwind base;
@tailwind components;
@tailwind utilities;


/* Reset margin, padding and set box-sizing globally */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Optional: make html and body fill full height */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #000; /* or your background */
  color: #fff; /* text color */
  font-family: 'Outfit', sans-serif;
}


